<div class="container">
    <div class="jumbotron">
        <h1>List of current mini-apps</h1>
        <hr>
        <div class="list-group">
            <div routerLink="/todo" class="list-group-item">
                <h4 class="list-group-item-heading">Todo app</h4>
                <p class="list-group-item-text">This is a simple crud (not yet) app for remembering what you have to do</p>
            </div>
            <div routerLink="/login" class="list-group-item">
                <h4 class="list-group-item-heading">Http requests</h4>
                <p class="list-group-item-text">This page will be dedicated to learning about http requests, from free public api, and eventually will get a purpose</p>
            </div>
        </div>
    </div>
</div>